*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
.headnav{
  width: 100%;
  height: 65px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 5px 3px 5px #888888;
  position: fixed;
  transition: all 0.20s;
  z-index: 100;
}
.brandname{
  /* padding: 50px;
  font-size: 2.2rem;
  color: #fff; */
  padding-left: 20px;
}
.navbutton{
  display: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 42px;
  z-index: 250;
  background-color: #000;
}
.navlinks{
  padding-right: 50px;
  color: #fff;
}
.navlinks a{
  padding: 20px;
  font-size: 20px;
}
a, a:link, a:active, a:visited{
  text-decoration: none;
  color: inherit;
}
.sidenav, .fixedside{
  height: calc(100% - 65px);
  width: 0px;
  background: rgb(83, 4, 2);
  position: fixed;
  bottom: 0;
  z-index: 150;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  padding: 15% 0 40%;
}
.sidenav{
  display: none;
}

.fixedside{
  width: 42px; 
  background: rgba(83, 4, 2, 1);
  z-index: 200;
  align-items: center;
  display: none;
}

.sidenav a, .fixedside a{
  display: block;
  padding: 20px 0 20px 0;
  font-size: 20px;
}
.sidenav a{
  padding-left: 50px;
}

@media only screen  and (max-width: 1100px){
  .navlinks a{
    padding: 15px;
    font-size: 18px;
  }
}
@media only screen  and (max-width: 900px){
  .navlinks a{
    padding: 10px;
    font-size: 16px;
  }
}

.navbar-scroll{
  background-color: black;
}

/* =================================== NABAR ENDS ===========================================*/

.home{
  background: url("/img/main-6.jfif");
  background-size: cover;
  background-position-x: center;
  background-position-y: -40px;
  /* background-position: left; */
  /* background-attachment: fixed; */
  text-align: center;
  height: 100vh;
  background-blend-mode: multiply;
  color: white;
  z-index: 10;
  overflow-x:hidden;
}

.base{
  /* background-color: #ccc; */
  /* padding: 70px 0; */
  width: 80%;
  margin: auto;
  /* background: url("img/name-pg-large-2.jfif")!important;
  z-index: 200;
  background-blend-mode: multiply; */
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  /* padding-left: 60px; */

}

.home .inner{
  height: 100vh;
  /* background: rgb(51,51,51);
  background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(55,55,55,0.8) 53%, rgba(0,0,0,0.5) 90%); */
  /* padding-top: 240px; */
}
.name{
  padding-top: 40px;
  font-size: 6rem;
  font-weight: 400;
  /* font-family: 'Cinzel', serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px rgb(131, 64, 52);
  font-family: 'Shippori Mincho', serif;
  /* padding-bottom: ; */
  padding-bottom: 20px;
  font-style: oblique;
}
.name-big{
  /* padding-top: 0px;
  font-size: 6rem;
  color: aqua; */
  font-weight: 800;
  /* text-shadow: 3px 3px rgb(131, 64, 52); */
}
.desc{
  font-size: 2rem;
  color: rgb(117, 13, 9);
  display: flex;
  justify-content: center;
  font-weight: 300;
  text-shadow: 1.3px 1.3px rgb(233, 7, 7);
  align-items: center;
}
.gap{
  font-size: 3rem;
  padding: 0 8px;
}
@media only screen and (max-width: 1300px){
  .name{
    padding-top: 50px;
    padding-right: 60px;
  }
  .desc{
    font-size: 1.8rem;
    padding-right: 60px;
  }
}
@media only screen and (max-width: 1230px){
  .name{
    padding-top: 40px;
    padding-right: 40px;
  }
  .desc{
    font-size: 1.7rem;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 1150px){
  .name{
    padding-top: 40px;
    padding-right: 40px;
    font-size: 5rem;
    text-shadow: 2.5px 2.5px rgb(131, 64, 52);
  }
  .desc{
    font-size: 1.7rem;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 1100px){
  .name{
    padding-top: 40px;
    padding-right: 50px;
    font-size: 5rem;
  }
  .desc{
    font-size: 1.6rem;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 1050px){
  .name{
    padding-top: 40px;
    padding-right: 10px;
    font-size: 4rem;
    text-shadow: 2px 2px rgb(131, 64, 52);
  }
  .desc{
    font-size: 2rem;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 950px){
  .name{
    padding-top: 30px;
    padding-right: 10px;
    font-size: 4rem;
  }
  .desc{
    font-size: 1.5rem;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 900px){
  .name{
    padding-top: 0px;
    padding-right: 10px;
    font-size: 4rem;
    padding: 10px;
  }
  .desc{
    font-size: 1.4rem;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 750px){
  .name{
    padding-top: 0px;
    /* padding-right: 40px; */
    font-size: 3.5rem;
    padding-bottom: 5px;
  }
  .desc{
    font-size: 1.2em;
    /* padding-right: 40px; */
    /* padding-right: 60px; */
  }
  .base{
    width: 90%;
  }
  .home{
    background-position-y: bottom;
  }
}
@media only screen and (max-width: 550px){
  .name{
    padding-top: 0px;
    padding-right: 60px;
    font-size: 3rem;
    padding-bottom: 5px;
  }
  .desc{
    font-size: 1rem;
    padding-right: 60px;
  }
  .home{
    background-position-x: -210px;
  }
}
@media only screen and (max-width: 400px){
  .name{
    padding-top: 0px;
    padding-right: 10px;
    font-size: 2.5rem;
    padding-bottom: 5px;
  }
  .desc{
    font-size: 1rem;
    padding-right: 0px;
  }
  .gap{
    font-size: 2.1rem;
  }
}
@media only screen and (max-width: 350px){
  .name{
    padding-top: 20px;
    padding-right: 10px;
    font-size: 2.5rem;
    padding-bottom: 5px;
  }
  .desc{
    font-size: 0.9rem;
    padding-right: 10px;
  }
  .home{
    background-position-x: -330px;
  }
}
.about{
  overflow-x:hidden;
  color: #000;
}


.heading, .heading2{
  font-size: 4.2rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Cinzel', serif;
  padding-top: 50px;
}
/* .heading-about{
  color: #000;
  text-shadow: white; */
/* } */
hr{
 width: 400px;
 background-color: #fff;
 border: 2px solid rgb(121, 2, 2)!important;
 box-shadow: 2px 2px rgb(107, 6, 2);
 font-weight: 900;
 height: 10px!important;
 margin: auto;
}
.skills{
  width: 100%;
  color: #fff;
  padding-bottom: 50px;
  background-color: #ccc;
}
.subheading{
  font-size: 2.5rem;
  /* text-align: center; */
  font-weight: 800;
  color:rgb(121, 2, 2);
  text-shadow: 1px 1px #000000;
}
.skill{
  /* margin: auto; */
  color:white;
  background-color: #fff;
  margin: 15px 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:hidden;
  padding: 0;
  /* box-shadow: 5px 5px 5px 5px #888888; */
  /* padding: 10px 0; */
  border: 1px solid #000;
  padding: 2px;
  border-radius: 4px;
  
}
.skill-figure, .skill-figure img, .skill-figure figcaption{
  height: 90px;
  width: 70px;
}
.skill-figure{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-figure figcaption{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(107, 6, 2);
  /* width: 80px;
  height: 100px; */
}
.durationAnimate-1{
  --animate-duration: 2s;
}
.durationAnimate-2{
  --animate-duration: 2.2s;
}
.durationAnimate-3{
  --animate-duration: 2.4s;
}
.durationAnimate-4{
  --animate-duration: 2.6s;
}
.durationAnimate-5{
  --animate-duration: 2.8s;
}
.durationAnimate-6{
  --animate-duration: 3s;
}
.durationAnimate-7{
  --animate-duration: 3.2s;
}
.durationAnimate-8{
  --animate-duration: 3.4s;
}
.durationAnimate-9{
  --animate-duration: 3.6s;
}

/* ========================================EDUCATION ============================================ */

.education{
  background: url("/img/education3.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 80px;
}
.education .inner{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(55,55,55,0.9) 50%, rgba(220,220,220,1) 91%);
  color: #fff;
}
.heading2{
  font-size: 5rem;
  color: #fff;
  padding-top: 100px;
  text-shadow: 3px 3px #000000;
  font-weight: 700;
}
.heading-about{
  color: #000;
  text-shadow: 3px 3px #aaa!important;
}

.card-edu{
  /* border: 1px solid #888888; */
  background-color: #555;
  padding: 20px;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  
}
.card-edu i{
  font-size: 5rem;
  padding-bottom: 10px;
  text-align: center;
  margin: auto;
}
.affi{
  padding-bottom: 10px;
}
.institution{
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(196, 73, 71);
  text-shadow: .5px .5px rgb(14, 14, 14);
}
.category{
  color: white;
}
.degree{
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  color: rgb(233, 73, 64);
}
.score{
  font-size: 1.4rem;
  font-weight: 600;
}
.year{
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
}


/* Experience */
.experience{
  /* background: url("/img/experience.jpg") no-repeat;
  background-size: cover;
  background-position-x: 15%;
  background-position-y: 20%; */
  /* height: 1000px; */
  padding: 0 0 40px;
}
.experience .inner{
  /* height: 1000px;
  background: rgb(119,119,119);
  background: linear-gradient(180deg, rgba(59,59,59,0.9) 0%, rgba(85,85,85,0.8) 19%, rgba(255,255,255,1) 80%); */
}
.heading-exp{
  padding-top: 200px;
}
.projects{
  background: url("/img/Projects.jpg") no-repeat;
  background-size: cover;
}
.heading-project{
  padding-top: 100px;
}
.subheading-project{
  text-align: left;
  color: #9b1414;
  font-weight: 800;
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 30px;
  text-shadow: 2.5px 2.5px #000000;
}
.project-figure{
  padding: 30px;
  background: inherit;
}
.project-figure img{
  box-shadow: 3px 5px 6px 1px #bbb;
}
.projects .inner{
  background: rgb(51,51,51);
  background: linear-gradient(180deg, rgba(51,51,51,0.8) 0%, rgba(85,85,85,0.6) 24%, rgba(255,255,255,1) 80%);
}


/* responsive home skill education */

.change-2{
  display: none;
}
@media only screen and (max-width: 1400px){
  /* .institution{
    font-size: 1.8rem;
  } */
  /* .degree{
    font-size: 1.5rem;
  } */
  .score{
    font-size: 1.4rem;
  }
  .year{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1200px){
  /* .institution{
    font-size: 1.5rem;
  } */
}
@media only screen and (max-width: 992px){
  /* .institution{
    font-size: 1.8rem;
  }
  .degree{
    font-size: 1.3rem;
  } */
  .score{
    /* font-size: 1.2rem; */
    padding-bottom: 40px;
  }
  /* .year{
    font-size: 1rem;
  } */
  .change-1{
    display: none;
  }
  .change-2{
    display: block;
  }
  /* .institution:first-child{
    color: #350101;
  } */
  
}
@media only screen and (max-width: 830px) {
  .heading2{
    font-size: 3.4rem;
    text-shadow: 2px 2px #000000;
  }
  .subheading-project{
    font-size: 2.8rem;
    text-shadow: 2px 2px #000000;
  }
} 
@media only screen and (max-width: 661px) {
  .education{
    background: url("/img/education6.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    /* padding-bottom: 200px; */
  }
  /* .degree{
    font-size: 1.2rem;
  } */
  .score{
    font-size: 1.1rem;
  }
  .year{
    font-size: 1rem;
  }
  
} 
@media only screen and (max-width: 600px) {
  education{
    padding-bottom: 30px;
  }
  .score{
    font-size: 1rem;
    padding-bottom: 20px;
  }
  .year{
    font-size: 0.8rem;
  }
  .heading2{
    padding-right: 20px;
  }
  .subheading-project{
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px #000000;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .project-figure{
    padding: 10px 20px;
    background: inherit;
  }
} 
@media only screen and (max-width: 452px) {
  .subheading{
    font-size: 2rem;
  }
  hr{
    width: 200px;
   }
   .education.heading2{
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px #000000;
    padding-top: 150px;
  }
  .heading2{
    font-size: 2.5rem;
  }
  .subheading-project{
    font-size: 1.8rem;
    text-shadow: 1px 1px #000000;
  }
  /* .institution{
    font-size: 1.2rem;
    color: #5e0000;
  } */
  /* .institution:first-child{
    color: #350101;
  } */

} 

@media only screen and (max-width: 361px) {
  .subheading{
    font-size: 1.5rem;
  }
  .education.heading2{
    text-shadow: 1.5px 1.5px #000000;
    padding-top: 250px;
  }
  .heading2{
    font-size: 2.1rem;
  }
  /* .subheading-project{
    font-size: 1rem;
    text-shadow: 0.5px 0.5px #000000;
  } */
  /* .institution{
    font-size: 1.2rem;
  } */
  /* .degree{
    font-size: 1rem;
  } */
  .score{
    font-size: 1rem;
  }
  .year{
    font-size: 0.8rem;
  }
} 
@media only screen and (max-width: 779px) {
  .screen{
    padding-left: 42px;
  }
  .screen .skills .container{
    padding-left: 42px;
  }
} 


/* ABOUT */
.my-pic{
  width: 100%;
  /* float: right; */
  /* padding: 0px 40px; */
}
.para{
  font-size: 1.1rem;
  padding: 10px 0px;
}
.about .details{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}
.about .details div {
  width: 50%;
  padding: 3px 0px;
}
.about{
  text-align: justify;
}

.about span {
  color: #5e0000;
  font-weight: 800;
  font-size: 1.1rem;
}
.heading-about{
  padding-top: 10px;
}

@media only screen and (max-width: 1251px){
  .para{
    font-size: 1rem;
  }
  .about span{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1200px){
  .para, .about{
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 777px){
  .about .details div {
    width: 100%;
    padding: 3px 0px;
  }
  .about span{
    font-size: 1.1rem;
  }
}

/* SKILLS */
.skill{
  width: 80px;
  height: 100px;
  overflow-y: hidden;
}
.skill-name{
  font-size: 0.8rem;
}
.skill-score{
  font-size: 1.2rem;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #5e0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-weight: 600;
  margin: 10px 0;
}

/* CONTACT */
.contact-form{
  border: 10px solid #5e0000;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 450px){
  .project-figure{
    padding: 10px;
  }
}




/* .conatct-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
} */
.contact-nav{
  display: flex;
  /* width: 250px; */
  justify-content:center;
  padding: 20px 0;
  /* background: rgb(58, 57, 57); */
  margin: 0 30px;
  color: white;
}
.contact-link{
  font-size: 1.2rem;
  /* width: 34%; */
  display: flex;
  align-items: center;
}
.last{
  width: 100%;
  padding-top: 10px;
}
.contact-link i{
  font-size: 1.2rem;
  color: #850101;
  text-shadow: -1px -1px #fff;
  padding-right: 10px;
}
.btn-download{
  font-size: 1.3rem;
  background: #850101;
  color: #fff;
  padding: 10px;
}
.btn-download i{
  font-size: 1.4rem;
}
.btn-download:hover{
  color: white;
  background:rgba(83, 4, 2, 1);
}

.footer{
  /* min-height: 250px; */
  background-color: #333;
  color: white;
  margin: auto;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.bottom{
  bottom: 10px;
}

@media only screen and (max-width: 991px){
  /* .contact-nav{
    display: flex;
    width: 60%;
  } */
  .contact-link i{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 770px){
  .conatct-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  /* .contact-nav{
    width: 65%;
  } */
}
@media only screen and (max-width: 570px){
  /* .contact-nav{
    width: 80%;
  } */
}
@media only screen and (max-width: 478px){
  /* .contact-nav{
    width: 90%;
    padding: 10px
  } */
  
}
@media only screen and (max-width: 442px){
  /* .contact-nav{
    width: 99%;
  } */
  .contact-link i, .btn-download{
    font-size: 1.1rem;
  }
  .btn-download i{
    font-size: 1.3rem;
  }
  .contact-link{
    font-size: 1rem;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 370px){
  .contact-link i, .btn-download{
    font-size: 1rem;
  }
  .btn-download i{
    font-size: 1rem;
  }
  .contact-link{
    font-size: 0.9rem;
  }

}

@media only screen and (max-width: 991px){
  .contact-link{
    font-size: 1rem;
  }
  .contact-link i{
    font-size: 1rem!important;
  }
  
}
@media only screen and (max-width: 500px){
  .contact-link{
    font-size: 0.9rem;
  }
  .contact-link i{
    font-size: 1rem!important;
  }
  
}


@media only screen and (max-width: 991px){
  .fit{
    width: fit-content;
    margin: auto;
  }
}

.a-over{
  position: relative!important;
}

.box-exp div{
  background-color: #f7f7f7;
  height: 100%;
  border-radius: 10px;
}

.subheading-exp{
  font-size: 1.8rem;
  color: rgb(107, 6, 2);
  font-weight: 600;
  height: fit-content!important;
}


.organisation-exp{
  font-size: 1.3rem;
  font-weight: 900;
  height: fit-content!important;

}
.time{
  font-style: italic;
  font-weight: 300;
  height: fit-content!important;

}
.para-exp{
  padding-top: 10px;
  height: fit-content!important;

}

.card-edu i{
  font-size: 3.5rem;
}

@media only screen and (max-width: 705px){
  .subheading-exp{
    font-size: 1.3rem;
  } 
  .organisation-exp{
    font-size: 1.1rem;  
  }
}

.title{
  font-weight: 800;
  font-size: 2.2rem;
  padding-bottom: 20px;
}
.req{
  font-size: 1.2rem;
  /* padding-bottom: 90px; */
  font-style: oblique;
}
.btn-snap{
  background-color: rgb(121, 2, 2)!important;
  border-color: rgb(121, 2, 2);
  padding: 8px 15px;
  font-size: 1.2rem;
}
.btn-outline-url{
  color:rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  margin-left: 10px;
  padding: 8px 15px;
  font-size: 1.2rem;
}
.btn-outline-url:hover{
  background-color: rgb(255, 255, 255)!important;
  color: #000;

}

.bg-figcap{
  background-color: rgba(0,0,0,0.5)!important;
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 30px!important;
}

@media only screen and (max-width: 1399px){
  .bg-figcap{
    padding: 30px 30px!important;
  } 
}
@media only screen and (max-width: 1199px){
  .title{
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .req{
    font-size: 1.1rem;
  }
  .btn-snap{
    background-color: rgb(121, 2, 2)!important;
    border-color: rgb(121, 2, 2);
    padding: 5px 10px;
    font-size: 1.1rem;
  }
  .btn-outline-url{
    padding: 5px 10px;
    font-size: 1.1rem;
  } 
}
@media only screen and (max-width: 991px){
  .title{
    font-size: 2.5rem;
    padding-bottom: 25px;
  }
  .req{
    font-size: 1.5rem;
  }
  .btn-snap{
    padding: 10px 15px;
    font-size: 1.3rem;
  }
  .btn-outline-url{
    padding: 10px 15px;
    font-size: 1.3rem;
  } 
}
@media only screen and (max-width: 767px){
  .title{
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .req{
    font-size: 1.1rem;
  }
  .btn-snap{
    padding: 5px 10px;
    font-size: 1.1rem;
  }
  .btn-outline-url{
    padding: 5px 10px;
    font-size: 1.1rem;
  } 
}
@media only screen and (max-width: 570px){
  .title{
    font-size: 1.5rem;
    padding-bottom: 8px;
  }
  .req{
    font-size: 1rem;
  }
  .btn-snap{
    padding: 5px 10px;
    font-size: 1rem;
  }
  .btn-outline-url{
    padding: 5px 10px;
    font-size: 1rem;
  } 
}
@media only screen and (max-width: 490px){
  .title{
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  .req{
    font-size: 1rem;
  }
  .btn-snap{
    padding: 4px 8px;
    font-size: 1rem;
  }
  .btn-outline-url{
    padding: 4px 8px;
    font-size: 1rem;
  } 
}
@media only screen and (max-width: 430px){
  .title{
    font-size: 1.1rem;
    padding-bottom: 4px;
  }
  .req{
    font-size: 1rem;
  }
  .btn-snap{
    padding: 3px 8px;
    font-size: 1rem;
  }
  .btn-outline-url{
    padding: 3px 8px;
    font-size: 1rem;
  } 
  .bg-figcap{
    padding: 20px!important;
  }
}
@media only screen and (max-width: 375px){
  .title{
    font-size: 1rem;
    padding-bottom: 4px;
  }
  .req{
    font-size: 0.9rem;
  }
  .btn-snap{
    padding: 3px 5px;
    font-size: 0.9rem;
  }
  .btn-outline-url{
    padding: 3px 5px;
    font-size: 0.9rem;
  } 
  .bg-figcap{
    padding: 15px!important;
  }
}
@media only screen and (max-width: 328px){
  .title{
    font-size: 1rem;
    padding-bottom: 4px;
  }
  .req{
    font-size: 0.9rem;
  }
  .btn-snap{
    padding: 3px 5px;
    font-size: 0.9rem;
  }
  .btn-outline-url{
    padding: 3px 5px;
    font-size: 0.9rem;
  } 
  .bg-figcap{
    padding: 10px!important;
  }
}
.download-button{
  margin: 20px auto 50px!important;
  width: fit-content;
  /* margin: ; */
}
.btn-download{
  width: 400px;
}
@media only screen and (max-width: 450px){
  .btn-download{
    width: 250px;
  }
}
@media only screen and (max-width: 300px){
  .btn-download{
    width: 200px;
  }
}
/* .heading-skills{
  color: white;
  text-shadow: 2px 2px black!important;
} */

.brand-img{
  /* margin-left: 10px; */
  width: 70px;
  height: 70px;
}
@media only screen and (max-width: 813px){
  .brand-img{
    margin-left: 10px;
    width: 70px;
    height: 70px;
  } 
}
.nav-home{
  width: 100%!important;
}